@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
.topbar {
  border-bottom: 2px solid#29242433;
}
.topbar .content {
  padding: 7px;
  display: flex;
  height: var(--topbar-height);
  align-items: center;
  justify-content: space-between;
}
.topbar-left {
  display: flex;
  align-items: center;
}
.topbar-left a {
  margin-left: 7px;
  text-decoration: none;
  color: black;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
.topbar-left a:hover {
  color: black;
  opacity: 1;
}
.topbar-left svg {
  cursor: pointer;
}
.custom-notification.btn {
  background-color: transparent !important;
  padding: 0;
  border: 0;
  color: black !important;
  outline: none;
  box-shadow: 0 0 0 transparent !important;
}
.notification.show
  > .custom-notification.btn.btn-secondary.dropdown-toggle:active {
  background-color: white !important;
  box-shadow: 0 0 0 transparent !important;
}
.custom-notification .badge {
  color: red !important;
  background-color: white !important;
  right: 1px;
  box-shadow: 0 0px 0px white !important;
  top: -2%;
  font-size: 10px;
}
.notification-dropdown-menu.dropdown-menu {
  left: -170px;
  min-width: 200px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.notification-dropdown-menu button {
  font-size: 13px;
  font-family: "Asap", sans-serif;
  transition: 0.2s ease-in-out;
}
.notification-dropdown-menu button:hover {
  background-color: #a5a19c38;
}
