.btn.custom-btn {
  font-size: 0.8rem;
}

.btn.custom-btn:active,
.btn.custom-btn:focus,
.btn.custom-btn:hover {
  box-shadow: 0 0 0 black;
}
.btn.custom-btn-primary,
.btn.custom-btn-primary:hover,
.btn.custom-btn-primary:focus,
.btn.custom-btn-primary:active {
  background-color: #3f6296eb;
}
